<div *ngFor="let product of products$ | async">
  <p>{{product.email}}</p>
  <button (click)="deleteEmail(product.email)">Delete</button>
</div>

<button (click)="addEmail()">ADD</button>


<div>
  <p>{{(quote$ | async).name}}</p>
  <p>{{(quote$ | async).dob}}</p>
  <p>{{(quote$ | async).status}}</p>
  <p>{{(quote$ | async).environment}}</p>
  <button (click)="addName()">add name</button>
  <button (click)="addDob()">add date of birth</button>
  <select (change)="addStatus($event)">
    <option [value]=""></option>
    <option *ngFor="let status of maritalStatus" [value]="status">{{status}}</option>
  </select>
  <button (click)="addEnv()">add environment</button>
</div>
